<div *ngIf="productos.length>0">
    <div *ngFor="let producto of productos">
        
        <p>{{producto.title | uppercase | concatenarTexto:'a' }}</p>
        <p>{{producto.title}}</p>
        <p>{{producto.price | currency}}</p>
        <a [routerLink]="['/','producto','2']">Ver Detalle</a>
        
    </div>
</div>
<h1>NgFor ASync</h1>
<div *ngFor="let producto of productosAsync | async">
    <p>{{producto.title}}</p>
    <p>{{producto.price}}</p>
</div>
<div *ngIf="productos.length<=0">
    No hay resultados
</div>